{% extends "admin/base_site.html" %}
{% load i18n admin_list %}

{% block extrastyle %}{{ block.super }}{{ media.css }}{% endblock %}
{% block extrahead %}{{ block.super }}{{ media.js }}{% endblock %}

{% block content %}
<div id="content-main">
  <h1>{{ title }}</h1>

  <div id="changelist" class="module filtered">
      <div id="changelist-filter">
          {% if cl.has_filters %}
              <h2>{% trans 'Filter' %}</h2>
              {% for spec in cl.filter_specs %}
                  {% admin_list_filter cl spec %}
              {% endfor %}
          {% endif %}
      </div>

      <div id="changelist-results">
          <table class="vertical-table">
              <tr>
                  <th>{% trans "Parameter name" %}</th>
                  <th>{% trans "Amount" %}</th>
              </tr>
              {% for row in stats %}
              <tr>
                  <td>{{ row.level }}</td>
                  <td>{{ row.count }}</td>
              </tr>
              {% endfor %}
          </table>
      </div>
  </div>
</div>
{% endblock %}