@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #141e36;
  overflow: hidden;
}

.plus-one {
  position: absolute;
  font-family: 'Inter' !important;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  z-index: 100;
  animation: move-up 1.2s forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.game {
  position: relative;
}

.page {
  width: 100vw;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.referal {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background: gold;
  border: none;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

[data-tc-dropdown-button='true'] {
  gap: 0 !important;
  border: 1px solid #ffffff1a !important;
  background-color: #0000004d !important;
  min-width: fit-content !important;
}


[data-tc-dropdown-button='true'] svg {
  display: none;
}

[data-tc-connect-button="true"] {
  max-width: 30dvw;
}

[data-tc-connect-button="true"] [data-tc-text='true'] {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

[data-tc-dropdown-button='true'] [data-tc-text='true'] {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0px;
}

@media screen and (max-width: 350px) {
  [data-tc-connect-button="true"] {
    padding: 8px 25px !important;
  }

  [data-tc-connect-button="true"] [data-tc-text='true'] {
    display: none;
  }
}